@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem; /* Align with base font size */
    color: var(--color-dark);
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.profile-container {
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    width: 90%;
    max-width: 600px;
    padding: var(--card-padding);
    margin: 20px;
}

.profile-header {
    text-align: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid var(--color-primary);
    margin-bottom: 20px;
}

h1 {
    font-weight: 800; /* Use the heavier weight for headers */
    color: var(--color-primary);
    margin-bottom: 10px;
}

p {
    color: var(--color-info-dark);
}

.profile-details {
    margin-top: 20px;
}

.info-section, .bio-section {
    margin-top: 10px;
}

h2 {
    font-weight: 600;
    color: var(--color-dark); /* Header colors */
    margin-bottom: 10px;
}

.info-section p, .bio-section p {
    font-size: 1rem;
    line-height: 1.5;
}


